<?xml version="1.0"?>
<config>
    <modules>
        <Magneto_Varnish>
            <version>0.1.0</version>
        </Magneto_Varnish>
    </modules>
    <frontend>
        <routers>
            <varnish>
                <use>standard</use>
                <args>
                    <module>Magneto_Varnish</module>
                    <frontName>varnish</frontName>
                </args>
            </varnish>
        </routers>
    </frontend>
    <global>
        <models>
            <varnish>
                <class>Magneto_Varnish_Model</class>
                <resourceModel>varnish_mysql4</resourceModel>
            </varnish>
        </models>
        <helpers>
            <varnish>
                <class>Magneto_Varnish_Helper</class>
            </varnish>
        </helpers>
        <events>
            <http_response_send_before>
                <observers>
                    <varnish>
                        <type>singleton</type>
                        <class>varnish/observer</class>
                        <method>varnish</method>
                    </varnish>
                </observers>
            </http_response_send_before>
            <application_clean_cache>
                <observers>
                    <varnish>
                        <type>singleton</type>
                        <class>varnish/observer</class>
                        <method>purgeCache</method>
                    </varnish>
                </observers>
            </application_clean_cache>
        </events>
    </global>
</config>
