<config>
    <sections>
        <varnish translate="label" module="varnish">
            <label>Varnish Options</label>
            <tab>general</tab>
            <sort_order>1000</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>

            <groups>
                <server_options translate="label">
                    <label>Varnish options</label>
                    <sort_order>1</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <expanded>1</expanded>
                    <fields>
                        <servers>
                            <label>Varnish servers</label>
                            <frontend_type>textarea</frontend_type>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment><![CDATA[Specify where varnish servers can be found.
                            You can specify multiple varnish servers separating them by comma: 127.0.0.1:80,127.0.0.2:80]]></comment>
                        </servers>
                    </fields>
                </server_options>
            </groups>
        </varnish>
    </sections>
</config>

